.info-container {
    display: flex;
    flex-direction: column;

    height: 100%;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    background: var(--info-background);
}

.info-content {
    padding: 14px 40px;
    margin-top: 158px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-self: flex-start;

    align-items: center;
}

.logoimg {
    margin-top: 8px;
    margin-right: 5px;

    width: 30px;
    height: 30px;
}

.logotext{
    font-size: var(--subtitle-font-size);
    color: var(--white-color);
}

.title {
    font-size: var(--title-font-size);
    color: var(--white-color);
}

.description {
    font-size: var(--description-font-size);
    color: var(--white-t-color);
}

.artimg {
    width: 200px;
    margin-top: 16px;
    align-self: flex-start;
}