.main{
    display: grid;

    grid-template-columns: 500px auto;

    height: 100%;
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 40px 0px 40px 0px;

    background: var(--dark-color);
}

.form {
    align-items: center;
    justify-content: flex-start;

    background: var(--light-gray-color);
}