:root {
  --info-background: linear-gradient(90deg, rgba(66,29,185,1) 0%, rgba(73,33,196,1) 57%, rgba(80,36,207,1) 100%);
  --white-color: rgba(255, 255, 255, 1);
  --white-t-color: rgba(255, 255, 255, 0.6);
  --dark-color: rgb(13, 16, 35);
  --light-gray-color: rgb(237, 237, 252); 
  --dark-gray: rgba(141, 141, 141, 0.69);
  --blue: rgba(0, 0, 255, 0.89);
  --light-blue:  rgba(0, 0, 255, 0.575);

  --title-font-size: 38px;
  --subtitle-font-size: 20px;
  --description-font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
